body {
  font-family: sans-serif;
<<<<<<< HEAD
  background-color: #73f380;
=======
  background-color: #f0f8ff;
>>>>>>> template/main
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #2e8b57;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> template/main
